/* General Styles */
body {
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
}

h1, h2 {
	text-align: center;
	font-family: Arial, sans-serif;
	color: #333;
}

.container {
	width: 500px;
	margin: 50px auto;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	padding: 20px;
}

form {
	margin-top: 20px;
}

label {
	display: inline-block;
	width: 100px;
	text-align: right;
	margin-right: 10px;
	font-family: Arial, sans-serif;
	color: #333;
}

input[type="text"], input[type="password"] {
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #ccc;
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #333;
}

button[type="submit"] {
	padding: 10px;
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 3px;
	font-size: 16px;
	cursor: pointer;
}

button[type="submit"]:hover {
	background-color: #444;
}

#error {
	color: red;
	margin-top: 10px;
	text-align: center;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
	.container {
		width: 90%;
	}
}
